#nav-bar {
    /* position : fixed;
    top : 0; */
    width:60%;
    text-align:right;
  }
  
  .nav-link{
      color: red;
      padding:20px;
      text-decoration:none;
      font-size:20px;
  }
  
  #header {
    display:flex;
    flex-wrap: wrap;
    min-width:100%;
    position:fixed;
    background-color: lightgray;
    padding: 20px  0;
  }
  body{
    margin: 0;
  }
  #microverse{
     text-align: center;
  }
  
  #header-img{
    width:40%;
  }
  #video{
    margin-top: 60px;
     
  }
   #form{
     margin-top: 30px;
     text-align: center;
   }
   #form input{
     height: 40px;
   }
  
  @media (max-width:368px) { 
    #nav-bar {
      background-color:green;
    }
  }
  #pricing{
    width: 100%;
    display: flex;
  }
  #pricing div {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: yellow;
    text-align: center;
    font-family: verdana;
    font-size: 15px;
  }
  #pricing button{
    background-color: lightgray;
    border: 0;
    padding: 10px;
    margin-top: 20px;
  }
  #email{
    width: 70%;
  }

  #submit{
    border: 0;
    padding: 4px 20px;
    background: black;
    color: white;
  }